.main-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    align-items: center;
    background-color: #FFE62C;
}

.pokemons__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
}

@media (min-width: 800px) {
    
    .pokemons__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5rem;
    }

    .triangle {
            width: 0;
            height: 0;
            position: fixed;

    }

    .circle {
            width: 50px;
            height: 50px;
            position: fixed;
            background-color: red;
    }

    .triangle-left {
        @extend .triangle;
        border-left: 50px solid black;
        border-right: 50px solid transparent;
        border-bottom: 50px solid transparent;
        top: 0;
        left: 0;
    }

    .triangle-right {
        @extend .triangle;
        top: 0;
        right:0;
        border-left: 50px solid transparent;
        border-right: 50px solid black;
        border-bottom: 50px solid transparent;    }

    .circle-left {
        @extend .circle;
        bottom: 0;
        left: 0;
        border-top-right-radius: 100%;
    }

    .circle-right {
        @extend .circle;
        bottom: 0;
        right: 0;
        border-top-left-radius: 100%;
    }
    
}